footer {
    .copyright {
        background: $indigo;
        p {
            color: #fff;
            font-size: 0.85em;
            line-height: 0.85em;
            margin: 0;
            padding: 1em;
            text-align: center;
        }
    }
}